html
  head
    title SWH
    script(src="build/js/vendor.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
    .container
      h1 Star Wars Hangman
      .hangman
        .head
        .body
        .left-arm
        .right-arm
        .left-leg
        .right-leg
      .letter-board
        //- letters to be guessed go here
      form#letter-guess
        input(type="text" id="guessed-letter")
        input(type="submit")
      .wrong-letters
        .title
          h2 wrong letters
        .body
          //- incorrect guesses go here
      button#play-again Play Again, If You Dare
