.letter-board {
  width: 350px;
  border: 10px solid $yellow;
  border-radius: 20px;
  padding: 25px;
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 55px;
  margin: 0 auto;

  span {
    display: inline-block;
    border-bottom: 10px solid $yellow;
    color: white;
    font-size: 50px;
    width: 50px;
    text-transform: uppercase;
    line-height: 45px;
    margin: 0 10px;
    min-height: 55px;

    &.dash {
      border-bottom: none;
    }
  }
}
